@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 300vh;
    background-image: linear-gradient(rgba(171, 137, 82, 0.495), black);
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(#333, black);
    color: white;
    padding: 1.5rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    z-index: 1000;
}

.logo-text{
    text-wrap: nowrap;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.bx-law{
    font-size: 3rem;
}

.nav-link{
    color: white;
    font-size: 1.2rem;
}


.nav-link:hover,
.nav-link:focus{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: white;
    transition: 0.3s;
}

#burger-menu{
    background-color: transparent;
    color: white;
    font-size: 2.5rem;
    border: none;
    display: none;
}

.navbar-mobile{
    position: fixed;
    top: 5.5rem;
    left:0;
    width: 100%;
    background-color: hsla(0, 0%, 20%, 0.802);
    z-index: 10;
    display: none;
}

.navbar-mobile-active{
    display: block;
}

.navbar-mobile .nav-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding: 1rem 0;
}

.navbar-mobile .nav-list .nav-link{
    font-size: 1.2rem;
}

.section{
    background-color: white;
    margin: 2rem 5% 2rem 5%;
    padding: 3rem 3%;
    border-radius: 12px;
    box-shadow: 10px 5px 5px hsla(0, 0%, 20%, 0.468);
}

.hero-section{
    margin-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-pic-wrapper{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 20%, 0.468);
}

.hero-pic-img{
    width: 100%;
    height: 100%;
}

.hero-text{
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.hero-text-h2{
    font-size: 1.5rem;
}

.heading{
    font-size: 2rem;
    margin-bottom: 1rem;
    scroll-margin-block-start: 170px;
}

.hero-text-h3{
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.hero-btn-group{
    display: flex;
    gap: 1rem;
}

.btn{
    font-size: 1.2rem;
    color: white;
    background-color: #333;
    padding: 10px 15px;
    border: 2px solid #333;
    border-radius: 12px;
    text-wrap: nowrap;
    box-shadow: 2px 2px 5px #888;
}

.btn:hover,
.btn:focus{
    background-color: #222;
}

.modal{
    font-family: Poppins, sans-serif;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
    background-color: hsla(0, 0%, 0%, 0.903);
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
}

.modal.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal__main{
    background-color: white;
    padding: 2rem 3rem 2rem 2rem;
    max-width: 600px;
    position: relative;
    cursor: auto;
    line-height: 1.4;
    border-radius: 12px;
}

.modal-content{
    font-family: Poppins, sans-serif;
    max-height: 60vh; 
    overflow-y: auto;
}

.modal-title{
    margin-bottom: 1rem;
}

.modal-close-btn{
    font-size: 1.2rem;
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0.1rem 0.4rem;
    border: none;
    cursor: pointer;
}



.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: hsla(0, 0%, 20%, 0.252);
    color: white;
}


.modal-content::-webkit-scrollbar,
.modal-body::-webkit-scrollbar {
  width: 8px; 
}

.modal-content::-webkit-scrollbar-track,
.modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;  
  border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb,
.modal-body::-webkit-scrollbar-thumb {
  background: #888;  
  border-radius: 4px;
}

.modal-content::-webkit-scrollbar-thumb:hover,
.modal-body::-webkit-scrollbar-thumb:hover {
  background: #555;  
}

.contact-info{
    list-style: none;
}

.contact-info-item{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 15px;
    margin-top: 30px;
}

.contact-info-item i{
    color: #33333395;
    font-size: 2rem;
}

.contact-info-item a{
    font-size: 1.1rem;
    color: black;
}

.contact-info-item a:hover{
    color: hsla(0, 0%, 20%, 0.67);
    text-decoration: underline;
    text-decoration-color: hsla(0, 0%, 20%, 0.67);
    text-underline-offset: 5px;
}

.accordion{
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item{
    margin: 1rem 0;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 20%, 0.468);
}

.accordion-item-header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header:after{
    content: '\002B';
    font-size: 2rem;
    color: #333;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active:after{
    content: '\2212';
}

.accordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    font-size: 16px;
    border-image: linear-gradient(to right, transparent, #333, transparent) 1;
    list-style: none;
}

.section-products-h1,
.section-products-p{
    text-align: center;
}

.section-products-p{
    font-size: 1.2rem;
}

.accordion-list-item{
    font-size: 1.2rem;
}




@media only screen and (max-width: 590px){

    .logo-text{
        font-size: 1.5rem;
    }

    .section{
        padding: 2rem 5%;
    }

    .hero-section{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 7rem;
    }

    .hero-pic-wrapper{
       width: 65vw;
       height: auto;
       border: none;
       border-radius: 0;
       box-shadow: none;
    }

    .hero-text{
        gap: 1rem;
    }

    .hero-text-h1{
        font-size: 1.5rem;
        line-height: 1.1;
        margin-bottom: 0;
    }

    .hero-text-h3{
        margin-bottom: 0;
    }


    .navbar{
        display: none;
    }

    #burger-menu{
        display: block;
    }

    .modal{
        align-items: end;
    }

    .modal__main{
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        position: relative;
    }

    .modal-content{
        padding-right: 1rem;
    }

    .modal-close-btn{
        position: absolute;
        z-index: 10;
    }

    .modal-text{
        font-size: 1.2rem;
    }

    .contact-info-item i{
        font-size: 1.5rem;
    }

    .contact-info-item a{
        font-size: 1.3rem;
    }

    .accordion{
        width: 99%;
    }
}

@media only screen and (min-width: 590px) and (max-width: 992px){

    .logo-text{
        font-size: 1.3rem;
    }

    .section{
        padding: 2rem 5%;
    }

    .hero-section{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 7rem;
        padding: 2rem 5%;
    }

    .hero-pic-wrapper{
       border: none;
       box-shadow: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1312px){

    .hero-pic-wrapper{
        width: 32vw;
        height: auto;
        border: none;
        box-shadow: none;
    }

    .hero-text{
        width: 350px;
    }

}

